/* GENERAL */
body {
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Header */
div.day-header-container, div.night-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.day-title, .night-title {
  padding: 1rem 0;
  width: 100%;
  margin: 0;
  box-shadow: 1px 1px 2px black;
}

.day-title {
  color: black;
  background-color: #ffd700;
}

.night-title {
  color: white;
  background-color: #39443b;
}

.day-button, .night-button {
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: 2px 2px 3px black;
  transition: filter 1s ease;
}

div.day-header-container .day-button, div.night-header-container .night-button {
  position: fixed;
  top: 10px;
  right: 10px;
}

.day-button:hover, .night-button:hover {
  cursor: pointer;
  filter: brightness(125%);
}

.day-button {
  color: black;
  background-color: #ffd700;
}

.night-button {
  color: #b4afb3;
  background-color: #39443b;
}

/* Login */
.currentUserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.day-currentUserCard, .night-currentUserCard {
  border-radius: 10px;
  width: 60%;
  box-shadow: 0 2px 0 black;
  padding: 2rem;
}

.day-currentUserCard {
  background-color: #f15050;
  color: black;
}

.night-currentUserCard {
  background-color: #443942;
  color: white;
}

.avatar {
  border-radius: 50%;
  width: 30%;
}

.day-NoUserInfoAccess, .night-NoUserInfoAccess {
  padding: 1rem;
  box-shadow: 2px 2px 3px black;
}

.day-NoUserInfoAccess {
  background-color: #f15050;
}

Form > * {
  margin: 1rem;
}

.night-NoUserInfoAccess {
  background-color: 	#743d3a;
  color: white;
}

.day-LoginForm, .night-LoginForm {
  padding: 1rem;  
  width: 50%;
  box-shadow: 2px 2px 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-LoginForm > *, .night-LoginForm > * {
  max-width: 60%;
}

.day-LoginForm {
  background-color: #f15050;
}

.night-LoginForm {
  background-color: #743d3a;
  color: white;
}

.day-logout, .night-logout {
  align-self: center;
  margin-bottom: 2rem;
  padding: 0.5rem;
  box-shadow: 0 2px 0 black;
  border: 0;
}

.day-logout:hover, .night-logout:hover {
  cursor: pointer;
}

.day-logout {
  background-color: #e77f7f;
  color: black;
}

.night-logout {
  background-color: #6f4947;
  color: white;
}

/* Users List */
.day-UserContainer, .night-UserContainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-UserContainer {
  color:	black;
}

.night-UserContainer {
  color:	white;
}

.day-UserCard, .night-UserCard {
  margin: 2rem 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 0 black;
  display: grid;
  grid-template-areas: 
  " userName userName userName"
  " avatar bio bio"
  " . . delete";
}

@media only screen and (max-width: 600px) {
  .day-UserCard, .night-UserCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.day-UserCard {
  background-color:	#f15050;
}

.night-UserCard {
  background-color: #443942;
}

.userName {
  grid-area: userName;
}

.day-UserCard .avatar, .night-UserCard .avatar {
  grid-area: avatar;
  width: 80%;
}

.bio {
  grid-area: bio;
  text-align: justify;
}

.day-button, .night-button {
  grid-area: delete;
}
